<md-toolbar class="main" ng-controller="toolbarController">
    <div class="toolbar-tools">
        <div class="nav-links">
            <a class="sidenav-toggle md-icon-button" md-ink-ripple="#fff">
                <md-icon>menu</md-icon>
            </a>
            <span class="brand">unHaze</span>
        </div>
        <div class="nav-links category">
            <a category-route="men" md-ink-ripple="#fff">
                Men
            </a>
            <a category-route="women" md-ink-ripple="#fff">
                Women
            </a>
            <a category-route="kids" md-ink-ripple="#fff">
                Kids
            </a>
            <a category-route="accessories" md-ink-ripple="#fff">
                Accessories
            </a>
        </div>
        <div class="nav-links">
            <a class="search-route md-icon-button" md-ink-ripple="#fff">
                <md-icon>search</md-icon>
            </a>
            <a class="search-route md-icon-button" md-ink-ripple="#fff">
                <md-icon>shopping_cart</md-icon>
            </a>
            <a class="signup-popup md-icon-button" md-ink-ripple="#fff">
                <md-icon>account_circle</md-icon>
            </a>
        </div>
    </div>
</md-toolbar>
<md-content>
    <nth-carousel></nth-carousel>
</md-content>
