<div class="md-carousel">
    <div class="carousel-control-box">
        <a class="left" md-ink-ripple="#fff"><i class="material-icons">&#xE5C4;</i></a>
        <a class="right" md-ink-ripple="#fff"><i class="material-icons">&#xE5C8;</i></a>
    </div>
    <ul class="slides list-inline carousel-inner">
        <li class="color-white" ng-repeat="slide in slideData" ng-class="{selected: $index == index, {{slide.caption.animation}}: true}">
            <div class="img" style="background-image: url({{slide.background}});"></div>
            <div class="caption" ng-style="slide.caption.css"  ng-class="slide.caption.animation" ng-bind-html="slide.caption.template | trust_as_html">

            </div>
            <div class="backdrop-static"></div>
        </li>
    </ul>
    <!--    <ul class="indication-dot">
            <li></li>
        </ul>-->
    <div class="page-down">
        <button class="go-down ic_expand_more md-icon-button" md-ink-ripple="#fff">
            <md-icon>&#xE5CF;</md-icon>
            <md-icon>&#xE5CF;</md-icon>
        </button>
    </div>
</div>