.category-toolbar{
    position: fixed;
    background:rgba(0,0,0,0.8) !important;
    font: 400 24px "Flamenco", sans-serif;
    text-transform: uppercase;
}
.category-toolbar .toolbar-tools{
    justify-content: flex-start;
}
.category-toolbar .toolbar-tools > *{
    margin:0 10px;
}
.category-icon{
    height: 40px;
    width: 40px;
}
.category-toolbar .back-icon-button{
    margin:0;
}
.category-toolbar .back-icon-button > i{
    width:24px;
    height:24px;
    vertical-align: super;

}
.category-content{
    margin-top:60px;
}