.header{
    overflow: hidden;
}
body{
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    position:relative;
    background: #eee;
}
md-toolbar{
    position: absolute;
    z-index: 11;
}
.md-dialog-container{
    position: absolute !important;
}
.md-fashion{
    border:2px solid;
    font-weight: 300;
    padding: 0 20px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background: rgba(0,0,0,0) !important;
}
.md-fashion.light{
    border-color: #fff;
    color:#fff;
}
.md-fashion.dark{
    border-color: #000;
    color:#000;
}
.md-fashion.light .md-ripple-container .md-ripple{
    background: #fff;
}

.md-fashion .md-ripple-container{
    background: rgba(0,0,0,0) !important;
}
.md-fashion.dark .md-ripple-container .md-ripple{
    background: #000;
}
md-content{
    background: #eee;
}
nth-carousel{
    display: block
}
md-content.parent-content{
    height: 100vh;
    width:100%;
    overflow-y: scroll;
}
.toolbar-opaque md-content.parent-content .container{
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
    transform: translateY(-70px);
}
body, html{
    overflow: hidden !important;
}
.none{
    opacity: 0;
}