.product-card{
    display: inline-block;
    position: relative;
    max-width: 200px;
    box-shadow: 0 1px 1px #ccc;
}
.product-img{
    position: relative;
    background: #444;
    height:230px;
    overflow: hidden;
    display: block;
}
.product-img product-img-backdrop{
    position: absolute;
    left:0;top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0);
    z-index: 1;
}
.product-img img{
    width:100%;
    position: relative;
    z-index: 0;
}
.product-card md-card-actions{
    position: absolute;
    left:0; top:0;
    z-index: 2;
    width:100%;
    margin:0;
}
.product-card md-card-actions a{
    margin:5px;
}
.product-card md-card-actions a i{
    color: #000;
}
.product-card md-card-content md-divider{
    width:80px;
}
.product-card md-card-content .product-price{
    padding-bottom: 5px;
    display: inline-block;
    font:700 14px "Montserrat", sans-serif;
}
.product-card md-card-content .product-details{
    font:600 14px "Flamenco", sans-serif;
    color: #888;
    padding-top:7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-card md-card-content .product-details span:first-child{
     padding-right: 10px;
}
.product-card md-card-content .product-details span:not(:first-child):not(:last-child){
    padding: 0 10px;
}
.product-card md-card-content .product-details span:last-child{
    padding-left: 10px;
}
.product-card md-card-content .product-details span:not(:last-child){
    border-right: 1px solid #ccc;
}
.product-card md-card-content .product-name{
    font:300 15px "Montserrat", sans-serif;
}
.product-card md-card-actions .favorite i{
    color: #D32F2F;
}