md-sidenav{
    z-index: 10000;
    opacity: 1;
}
md-sidenav.md-closed{
}
md-sidenav, menu{
    -webkit-transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1) ;
    -ms-transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1) ;
    -o-transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1) ;
    transition: 0.5s cubic-bezier(0.55, 0, 0.1, 1) ;
}
menu{
    opacity: 0;
}
menu.loaded{
    opacity: 1;
}